numpy==1.26.4
pandas==2.2.3
plotly==6.0.0
python-dotenv==1.0.1
scikit-learn==1.6.1
sentence-transformers==3.4.0
streamlit==1.41.1
umap-learn==0.5.7
langchain==0.3.16
langchain-community==0.3.16
openai==1.59.7
nbformat==5.10.4